<div class="goal">
  <div class="sold">
    <h1>30</h1>
    shirts sold
  </div>

  <div class="days_left">
    <h1>15</h1>
    days to go 
  </div>

  <div class="reset"></div>

  <div class="meter">
    <div class="fill" style="width:40%">&nbsp;</div>
  </div>

  40% of 75 shirt goal
</div>