<div class="goal">
  <div class="sold">
    <h1>30</h1>
    shirts sold
  </div>

  <div class="progress">
    <h1>$600</h1>
    dollars raised
  </div>

  <div class="reset"></div>

  <div class="meter">
    <div class="fill" style="width:40%">&nbsp;</div>
  </div>

  40% of 75 shirt goal
</div>