<div class="goal">
  <div class="sold">
    <h1>93</h1>
    shirts sold
  </div>

  <div class="progress">
    <h1>$2325</h1>
    dollars raised
  </div>

  <div class="reset"></div>

  <div class="meter">
    <div class="fill" style="width:124%">&nbsp;</div>
  </div>

  <div class="shirts_sold">
    <span class="em">124%</span> of 75 shirt goal
  </div>
  <div class="days_to_go">
    <span class="em">0</span> days to go
  </div>
  <div class="reset"></div>
</div>