<h3>Okay fellas - it's time to bring back the Stache.</h3>
<p>This year you can grab a limited edition Team Stachequatch Tee to rally for the cause. Each purchase will not only help fund prostate and testicular research, but you'll also get a pretty sweet t-shirt.</p>
<p>Thanks,<br/>
<%= image_tag "signature.jpg"%>
</p>