<h3>Team Stachequatch</h3>

<p>Who are we, you ask? We are husbands, fathers, sons, and brothers. We are neighbors and friends. We take pride in our work and in our families, and each year we band together to raise awareness and funding for men’s health issues through the power of the moustache.</p>

<p>Join us this Movember to celebrate the moustache, a powerful symbol that stands strong in support of research and funding for prostate and testicular cancer.</p>

<p>Whether you’re rocking the pencil, the cowboy, the handlebar, or the elusive walrus, it makes no difference - The Mo the better!</p>

<p>If you want to support our staches, but don’t need a super sweet tee, you can <%=link_to "donate directly to Team Stachequatch.", "http://us.movember.com/team/448725", :target => "_new"%></p>