<div class="goal">
  <div class="sold">
    <h1><%= @goal.shirts_sold %></h1>
    shirts sold
  </div>

  <div class="progress">
    <h1>$<%= @goal.dollars_raised %></h1>
    dollars raised
  </div>
  <div class="reset"></div>
</div>