@import "colors";

.intro_graphic {
  margin-top: 1em;
}

.goal {
  border-radius: 2px;
  background-color: $grey;
  padding: 20px;
  margin: 30px 0 15px;
  
  h1, h2 {
    color: $brown;
  }

  .sold {
    float: left;
    width: 130px;
  }

  .days_left {
    float: left;
    margin-left: 35px;
  }

  .reset {
    clear: both;
  }

  .meter {
    margin: 20px 0 10px;
    border-radius: 7px; 
    border: 2px solid $red;
    background-color: $white;
    height: 15px;

    .fill {
      background-color: $red;
      border-radius: 3px;
      height: 15px;
    }
  }
}

.buy {
  border-radius: 2px;
  background-color: $red;
  padding: 1em;
  margin: 15px 0;
  color: $white;

  h1, h2 {
    color: $white;
  }
}

.shirt_design {
  text-align: center;
  display: block;
  margin: 5px 0 20px 0
}

.thumbnail {
  padding: 0 5px 0 5px;
}