@import "colors";

.design_column {
  width: 513px;
  float: left;
  margin-bottom: 20px; 
  margin-top: 15px;
}

.intro_column {
  width: 380px;
  float: left;
  margin-left: 40px;
  margin-bottom: 20px;
}

.intro_graphic {
  margin-top: 1em;
}

.goal {
  margin: 30px 0 20px 0;
  padding: 20px 0;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;

  h1, h2 {
    color: $brown;
  }

  .sold {
    float: left;
    width: 180px;
  }

  .progress {
    float: left;
  }

  .reset {
    clear: both;
  }

  .meter {
    margin: 20px 0 5px;
    border-radius: 7px; 
    background-color: $grey;
    height: 12px;

    .fill {
      background-color: $red;
      border-radius: 7px 0 0 7px;
      height: 12px;
    }
  }

  .em {
    font-size: 20px;
  }

  .shirts_sold {
    float: left;
    width: 250px;
  }

  .days_to_go {
    float: left;
  }
}

.buy {
  border-radius: 4px;
  background-color: $blue;
  padding: 25px;
  margin: 10px;
  color: white;
  text-align: center;

  &:hover {
    color: $dark_red;
    cursor: pointer;
  }

  h1, h2 {
    color: $white;
    font-size: 38px;
    text-shadow: $grey 0.1em;

    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }

  .purchase {
    text-align: center;
  } 
}

.shirt_design {
  text-align: center;
  display: block;
  margin: 5px 0;
}

.thumbnails {
  text-align: center;

  .thumbnail {
    padding-right: 15px;
    width: 113px;
  }

  .last {
    padding-right: 0px;
  }
}

.reset_columns {
  clear: both;
  height: 5px;
}

.about_header {
  margin: 5px 0 0 0;
  border-bottom: 2px solid $orange;
  width: 933px;
  font-size: 26px;
  color: $orange;
  font-weight: 300;
  font-family: museo-slab,Tahoma,sans-serif;
}

.about_column {
  width: 353px;
  float: left;
  margin-bottom: 20px; 
  margin-top: 15px;
}

.group_column {
  width: 540px;
  float: left;
  margin-left: 47px;
  margin-bottom: 20px;
}