<!DOCTYPE html>
<html>
<head>
  <title>Movember - Team Stachesquatch</title>
  <script type="text/javascript" src="//use.typekit.net/sog7buz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class ="body">
  <div class="header">
    <div class="logo">[logo]</div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</div>

</body>
</html>
